{% extends 'base.html.twig' %}

{% block title %}Hola{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}
<pre>
    <a href="{{ app.site_uri ~ 'user' }}">GOTO user(s) page</a><hr>
    <ul>
        <li>{{ txt_1 }}</li>
        <li>{{ txt_2 }}</li>
    </ul>
</pre>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>console.log('Hola')</script>
{% endblock %}